@import "tailwindcss/utilities";
@import "tailwindcss";
html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    transition: background-color 2s ease-in-out, color 2s ease-in-out;
    -webkit-transition: background-color 2s ease-in-out, color 2s ease-in-out;
    -moz-transition: background-color 2s ease-in-out, color 2s ease-in-out;
    -ms-transition: background-color 2s ease-in-out, color 2s ease-in-out;
    -o-transition: background-color 2s ease-in-out, color 2s ease-in-out;
}

:root {
    --main-bg: #FFFFFF;
    --primary-color: #1D2026;
    --primary-bg: #1D2026;
    --orange-color: #FF6636;
    --secondary-color: #F5F7FA;
    --p-color: #4E5566;
    --primary-padding: 10rem;
    --create-account-image: #EBEBFF;
    --card-bg: #FFFFFF;
    --text-font-lg: 600;
    --text-font-md: 400;
}

body.light {
    background-color: #ffffff;
    color: #1D2026;
}

.dark {
    background-color: #22225d;
    --orange-bg: #FF6636;
    --primary-color: #ffffff;
    --secondary-color: #09094a;
    --primary-bg: #29303f;
    --primary-padding: 10rem;
    --main-bg: #22225d;
    --create-account-image: #1c1c4a;
    --p-color: #9a9fad;
    --card-bg: #2e2e6d;
}

.swiper-pagination-bullet {
    background-color: #ffffff !important;
    width: 12px !important;
    height: 12px !important;
    opacity: 0.6 !important;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    opacity: 1 !important;
    transform: scale(1.2);
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
    content: none !important;
}

.custom-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    z-index: 10;
    background: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    -o-transform: translateX(-150%);
}

.swiper-button-prev {
    transform: translateX(-150%);
}

.swiper-button-next {
    transform: translateX(150%);
}

.swiper-button-prev,
.swiper-button-next {
    width: var(--swiper-navigation-size) !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    color: #CC522B;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}


/* إظهار الأزرار فقط من حجم sm وما فوق */

@media (min-width: 640px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: flex !important;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
    white-space: nowrap;
}

.clip-diagonal-ltr {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.clip-diagonal-rtl {
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

@media (max-width: 1024px) {
    .clip-diagonal-ltr {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .clip-diagonal-rtl {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}